// COLORS
$primary-color: rgb(64,156,255);
$secondary-color: rgb(0,113,164);

$white-color: rgb(255,179,164);

$dark-grey: rgb(0,113,164);

$dark-blue-text: #0c0d41; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
